@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  line-height: 1.5rem;
  color: #2c2c2c;
  background: linear-gradient(135deg, #fdf6ec, #f5e6d3, #f0d9b5);
  transition: all 0.7s;
  scroll-behavior: smooth;
  padding-top: 70px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: #c0392b;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  font-family: "Chewy", system-ui;
  letter-spacing: 0.15rem;
}

h1, h2, h3 {
  font-family: "Chewy", system-ui;
  letter-spacing: 0.25rem;
}

section {
  padding: 2rem 9%;
  margin-bottom: 1.5rem;
}

.btn {
  background: #f0dd36;
  padding: 0.7rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
}
.btn:hover {
  color: white;
  background: #f39c12;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.heading img {
  width: 10rem;
}

.btn-product {
  padding: 0.5rem 1rem;
  border: 2px solid #d35400;
  text-transform: inherit;
  background: #f0d9b5;
}
.btn-product:hover {
  color: white;
  background: #d35400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 4rem;
  background: #dbaa69;
  box-shadow: -1px 2px 59px -2px rgba(133, 130, 46, 0.75);
  -webkit-box-shadow: -1px 2px 59px -2px rgba(133, 130, 46, 0.75);
  -moz-box-shadow: -1px 2px 59px -2px rgba(133, 130, 46, 0.75);
}
.header .nav {
  display: flex;
  gap: 2rem;
}
.header .nav a {
  font-weight: bold;
}
.header .nav a:hover {
  text-decoration: underline;
}
.header .icons {
  display: flex;
  gap: 1.2rem;
}
.header .icons #bar-btn {
  display: none;
}
.header .shopping-cart {
  background: #f0d9b5;
  position: absolute;
  top: 120%;
  right: 0;
  padding: 2rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: all 0.5s;
}
.header .shopping-cart.active {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.header .shopping-cart .shop-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.25rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}
.header .shopping-cart .shop-title i {
  background: #fdf6ec;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header .shopping-cart .box-container {
  margin-bottom: 1rem;
}
.header .shopping-cart .box-container .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.25rem;
  background: white;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 0.5rem 1.25rem;
}
.header .shopping-cart .box-container .box img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}
.header .shopping-cart .box-container .box .box-content {
  font-size: 0.75rem;
}
.header .shopping-cart .box-container .box .box-content .box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.header .shopping-cart .box-container .box .box-content .box-title i {
  color: #f39c12;
}
.header .shopping-cart .box-container .box .box-content .burger-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}
.header .shopping-cart .box-container .box .box-content .burger-price p {
  font-weight: bold;
  font-size: 1rem;
}
.header .shopping-cart .box-container .box .box-content .burger-price p i {
  margin: 0 0.5rem;
  cursor: pointer;
}
.header .shopping-cart .box-container .box .box-content .burger-price p i:hover {
  color: #c0392b;
}
.header .shopping-cart .total-container {
  background: white;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  font-size: 0.9rem;
}
.header .shopping-cart .total-container p {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.25rem 0;
}
.header .shopping-cart .total-container p span {
  font-weight: bold;
}
.header .shopping-cart .cart-btn {
  width: 100%;
  margin-top: 1.5rem;
}
.header .search {
  position: absolute;
  top: 105%;
  width: 80vw;
  background: rgb(240, 216, 185);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: all 0.5s;
}
.header .search.active {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.header .search input {
  background: rgb(240, 216, 185);
  width: 100%;
  outline: none;
  padding: 0.8rem;
  border: none;
  text-transform: inherit;
  letter-spacing: 0.15rem;
}
.header .search label {
  cursor: pointer;
  margin-right: 1rem;
  color: #d35400;
}
.header .search label:hover {
  color: #f39c12;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.hero .hero-content {
  text-align: center;
}
.hero .hero-content h1 {
  margin-bottom: 1.5rem;
  letter-spacing: 0.25rem;
}
.hero .hero-content p {
  margin-bottom: 1.5rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.services .box {
  text-align: center;
  padding-bottom: 2rem;
  background: #dbaa69;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 14px 14px 28px 0px rgba(0, 0, 0, 0.5);
  /* For older browsers */
  -webkit-box-shadow: 14px 14px 28px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 14px 14px 28px 0px rgba(0, 0, 0, 0.5);
}
.services .box i {
  background: #f0dd36;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.services .box h3 {
  margin: 0.7rem 0;
}
.services .box p {
  font-size: 1rem;
}

.menu .product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}
.menu .product-container .product {
  background: #f0d9b5;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  /* For older browsers */
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
}
.menu .product-container .product:hover img {
  transform: translatey(-2rem);
  transition: all 0.7s;
}
.menu .product-container .product img {
  width: 16rem;
  height: 16rem;
  margin-bottom: 1rem;
}
.menu .product-container .product .icons {
  color: #d35400;
  margin-bottom: 0.5rem;
}
.menu .product-container .product .price {
  margin: 0.5rem 0;
  color: rgba(0, 0, 0, 0.5);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.about .about-img {
  margin-bottom: 1.25rem;
}
.about .about-img img {
  width: 20rem;
  height: 20rem;
}
.about .about-content h2 {
  margin-bottom: 1rem;
}
.about .about-content p {
  margin-bottom: 1rem;
}
.about .about-content .about-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.about .about-content .about-icons i {
  color: #d35400;
}

.reviews .person {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.reviews .person .box {
  background: #f0d9b5;
  border-radius: 1.5rem;
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  /* For older browsers */
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 2rem;
}
.reviews .person .box img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}
.reviews .person .box h3 {
  margin-bottom: 0.5rem;
}
.reviews .person .box p {
  margin-bottom: 0.5rem;
}
.reviews .person .box .star {
  color: #f39c12;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .map {
  flex: 1 1 15rem;
}
.contact .row .form {
  flex: 1 1 15rem;
}
.contact .row .form form {
  text-align: center;
}
.contact .row .form form .box {
  padding: 0.5rem;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  background: #f0d9b5;
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  /* For older browsers */
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 1rem;
}
.contact .row .form form .box textarea {
  height: 15rem;
  resize: none;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.blogs .box-container .box {
  padding: 1.5rem;
  background: #f0d9b5;
  box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  /* For older browsers */
  -webkit-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 7px 29px -2px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  text-align: center;
}
.blogs .box-container .box img {
  width: 25rem;
  height: 15rem;
  margin-bottom: 1rem;
}
.blogs .box-container .box h3 {
  margin-bottom: 0.5rem;
}
.blogs .box-container .box p {
  margin-bottom: 0.5rem;
}

.footer {
  padding: 0;
  margin-bottom: 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer .container .icon {
  padding: 1.5rem;
}
.footer .container .icon i {
  background: #d35400;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  color: #f0d9b5;
  cursor: pointer;
  transition: all 0.7s;
}
.footer .container .icon i:hover {
  transform: scale(1.2);
}
.footer .container .icon h3 {
  font-size: 1rem;
}
.footer .container .icon p {
  font-size: 0.7rem;
}
.footer .credit {
  text-align: center;
  background: #dbaa69;
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
}
.footer .credit span {
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .header .nav {
    position: absolute;
    top: 110%;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 1.5rem 0;
    overflow: hidden;
    gap: 0.5rem;
  }
  .header .nav a {
    background: #f0d9b5;
    width: 100%;
    padding: 1rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition: all 0.5s;
  }
  .header .nav a.active {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .header .icons #bar-btn {
    display: block;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews .person {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs .box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 550px) {
  .menu .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
